.about{
  background-color: var(--secondary);
  .container{
    @include container(740px,50px,50px);
  }
  &-myself,&-school,&-skill,&-interesting,&-language{
    color: var(--primary);
    margin-bottom: 50px;
    h2{
      color: var(--primary);
      opacity: .6;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    p{
      letter-spacing: 1px;
      line-height: 20px;
      padding: 10px;
    }
  }
  &-school,&-language,&-skill{
    p{
      margin-left: 10px;
      font-size: 24px;
      font-weight: 600;
      color: var(--primary);
      span{
        font-size: 16px;
      }
    }
  }
  &-interesting{
    margin-bottom: 0;
    ul{
      @include d-flex(space-between);
      text-align: center;
      font-weight: 600;
      li{
        width: 20%;
        margin-top: 10px;
      }
    }
  }
}