.about{
  background-color: var(--secondary);
  .container{
    @include container(740px,50px,50px);
  }
  &-myself,&-school,&-skill{
    margin-bottom: 30px;
    h2{
      font-size: 36px;
      color:var(--primary);
      font-weight: 600;
      margin-bottom: 30px;
    }
    p{
      letter-spacing: 1px;
      line-height: 20px;
      padding: 10px;
      color:#444;
    }
  }
  &-school{
    p{
      font-size: 24px;
    }
  }
  &-skill{
    margin-bottom: 0;
    ul{
      @include d-flex(space-between);
      flex-wrap: wrap;
      color: var(--primary);
      text-align: center;
      font-weight: 600;
      li{
        width: 30%;
        margin-top: 10px;
      }
    }
  }
}