.nav{
  background-color: var(--primary);
  text-align: center;
  ul{
    @include d-flex(space-around);
    li{
      @include d-flex;
      flex:1;
      i{
        display: block;
        margin-bottom: 10px;
        font-size: 2rem;
      }
      a{
        font-size: .8rem;
        padding: 10px 50px;
        color: #fff;
        opacity: .5;
        transition: all .5s ease;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}